<footer class="footer">
    <div class="footer__copyrights">

		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />Works by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Matt Miller</span> are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />

         Ghost theme based on: <a href="https://github.com/GavickPro/Portfolio-Free-Ghost-Theme" rel="nofollow">GavickPro</a></p>
    </div>
</footer>
<script type="text/javascript">

document.addEventListener("DOMContentLoaded", function(event) {
    $(function(){
        var c = 0;
        console.log(tags)

        $.each(tags, function(i,tag){
            c++;
            $("#tags").append('<span class="tag-nav"><a href="' + tag + '">' + i + '</a></span>');
        });

        if (c==0) $("#tags").html('');
        console.log(c)
    });
});
</script>